APP_NAME="ERP Enterprise"
APP_ENV=production
APP_KEY=<GERAR_COM_PHP_ARTISAN_KEY_GENERATE>
APP_DEBUG=false
APP_URL=https://padariacasadopao.com
PATH_URL=https://padariacasadopao.com/

EMPRESA_NOME="Padaria Casa do Pão"
EMPRESA_LOGO=/public/logo.png

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=<NOME_DO_BANCO>
DB_USERNAME=<USUARIO_DO_BANCO>
DB_PASSWORD=<SENHA_DO_BANCO>

BROADCAST_DRIVER=log
CACHE_DRIVER=database
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=.padariacasadopao.com
SESSION_SECURE_COOKIE=true

MAIL_MAILER=smtp
MAIL_HOST=<SMTP_HOST>
MAIL_PORT=587
MAIL_NAME="padariacasadopao"
MAIL_USERNAME=<EMAIL>
MAIL_PASSWORD=<SENHA>
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=<EMAIL>
MAIL_FROM_NAME="${APP_NAME}"

USERMASTER=<USUARIO_MASTER>
ROTA_INICIAL=graficos
LOGINPAGE=login2

DELIVERY=1
ECOMMERCE=1
PEDIDO_LOCAL=1

CERTIFICADO_ARQUIVO=1
MERCADOPAGO_PUBLIC_KEY=TEST-<PUBLIC_KEY_TESTE>
MERCADOPAGO_ACCESS_TOKEN=TEST-<ACCESS_TOKEN_TESTE>
MERCADOPAGO_PUBLIC_KEY_PRODUCAO=APP_USR-<PUBLIC_KEY_PROD>
MERCADOPAGO_ACCESS_TOKEN_PRODUCAO=APP_USR-<ACCESS_TOKEN_PROD>
MERCADOPAGO_AMBIENTE=production
MERCADOPAGO_WEBHOOK_SECRET=<SEGREDO_DO_WEBHOOK>
MERCADOPAGO_WEBHOOK_URL=https://padariacasadopao.com/api/webhooks/mercadopago
MP_PIX_EXPIRATION=30

WHATSAPP_PROVIDER=zapi
WHATSAPP_TOKEN=<TOKEN_ZAPI>
WHATSAPP_INSTANCE=<INSTANCE_ID>
WHATSAPP_URL=https://api.z-api.io

KEY_APP=laravel
PAGINACAO=30
FORCE_HTTPS=true
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR

SEFAZ_UF=MA
SEFAZ_AMBIENTE=2
SEFAZ_ENABLE_NFE=true
SEFAZ_ENABLE_NFCE=true
SEFAZ_NFCE_CSC_ID=000001
SEFAZ_NFCE_CSC=
STOCK_BLOCK_DIRECT_LEGACY_WRITES=true
FINANCE_MONITOR_DIRECT_MUTATIONS=true
FINANCE_BLOCK_DIRECT_SETTLEMENT_MUTATIONS=true
FINANCE_BLOCK_DIRECT_MUTATIONS=true
PERFORMANCE_SLOW_QUERY_MONITOR_ENABLED=true
PERFORMANCE_SLOW_QUERY_THRESHOLD_MS=350
PERFORMANCE_SLOW_REQUEST_MONITOR_ENABLED=true
PERFORMANCE_SLOW_REQUEST_THRESHOLD_MS=1200
PERFORMANCE_STORE_DATABASE_EVENTS=true
QUEUE_ENABLED=true
REPORTS_FORCE_ASYNC_GENERATION=true
REDIS_ENABLED=false

APP_LOAD_LEGACY_ROUTES=false
APP_LOAD_PATCH_ROUTES=false
